* {
    background-color: #ade4ff;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
}

header>ul {
    text-align: center;

}

div {
    display: flex;
    justify-content: center;
}

#introduction {
    text-align: center;
    display: block;
    width: auto;
}



.section {
    display: flex;
    flex-direction: column;
    padding: 5em;
    width: fit-content;
}


.lists {
    width: fit-content;
    padding: 1em;
    list-style-type: none;
    text-align: right;
}

.lists a {
    text-decoration: none;
}

.lists li {
    display: inline;
    margin: 1em;
}

#languages {
    text-align: right;
    display: block;
    width: auto;
}

#language-list {
    text-align: right;
    display: block;
    width: auto;
    padding: 0;

}

#language-list li {
    margin-right: 0;

}



#education {
    flex-direction: column;
}

.contact-buttons {
    display:flex;
    justify-content: flex-end;
    border: none;
}

.contact-buttons li {
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
}

footer ul {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

footer ul li {
    padding-top: 1em;
}

li a {
    color: black;

}

li a:hover {
    color: pink;
}

