* {
    background-color: #ade4ff;
}

#introduction {
    text-align: center;
    word-wrap: break-spaces;
}

#contactbutton {
    display: inline-block;

}

.section {
    text-align: center;
}


.lists {
    width: calc(100% - 50px);
    border: 1px black solid;
    padding: 1em;
    list-style-type: none;
    text-align: right;
}

.lists li {
    display: inline;
    margin: 1em;
}

#languages li {
    text-align: center;
}